In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("label_score_stats.csv")

In [4]:
df

                 label  count_tp  min_score_tp  avg_score_tp  max_score_tp
0            a picture       366      0.150726      0.320313      0.525092
1   a political symbol         2      0.218971      0.244074      0.269177
2       a poster board        28      0.150147      0.281474      0.564433
3           a calendar        15      0.205275      0.327869      0.490881
4     a framed picture        79      0.157940      0.308659      0.442973
5               person        21      0.166064      0.256670      0.412299
6      a license plate        61      0.153689      0.441593      0.638016
7              a paper        22      0.156618      0.227503      0.350424
8   a religious symbol         4      0.161804      0.283750      0.437078
9       a house number        23      0.151221      0.381973      0.673056
10              a name         2      0.160454      0.218419      0.276383
11        a nude image         4      0.242706      0.326079      0.373940
12               a cat         8      0.177085      0.440405      0.687458
13              a face         4      0.157396      0.205916      0.262534